@import 'mixins';

.product-card-box {
    position: relative;
    height: 600px;
    width: $widthSite;
    top: -64px;
    border: 1px solid rgb(234, 234, 234);
    background-color: $colorWhite;
    z-index: 1;
    @include flexBaseColumn;
    margin-bottom: 64px;
}
.product-categories-title {
    margin-top: 64px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    color: $colorPink;
    margin-bottom: 12px;
}
.product-line-pink {
    border: 1px solid #EF5B70;
    background-color: #EF5B70;
    width: 62px;
    height: 1px;
    margin-bottom: 12px;
}
.product-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
}
.product-description {
    width: 556px;
    height: 52px;
    margin-bottom: 32px;
}
.product-text-card {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
}
.product-price-card {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    color: $colorPink;
    margin-bottom: 64px;
}
.product-second-line-card {
    border: 1px solid #EAEAEA;
    width: 642px;
    height: 0;
    margin-bottom: 64px;
}
.sorting-card {
    display: flex;
    gap: 22px;
    align-items: center;
}
.sorting-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
}
.sorting-img {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
}
.button-card {
    display: flex;
    align-items: center;
    gap: 22px;
    border: $borderOneSolidPink;
    margin-bottom: 65px;
}
.button-card-img {
    padding: 16px 0px 8px 24px;
}
.button-card-text {
    width: 82px;
    height: 20px;
    padding: 15px 58px 15px 0px;
    color: $colorPink;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}