$widthSite: 1140px;

$colorWhite: #ffffff;
$colorBlack: #222222;
$colorPink: #F16D7F;
$backgroundColorShopItemHover: #3A3838DB;

$borderOneSolidWhite: 1px solid #ffffff;
$borderOneSolidPink: 1px solid #F16D7F;