* {
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style-type: none;
}

summary {
  display: block;
}

summary::-webkit-ditails-marker {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

label {
  cursor: pointer;
}

.header {
  min-width: 1140px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 41px;
  margin-top: 18px;
  margin-bottom: 19px;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 33px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.menu:hover .main-menu {
  display: block;
  margin-left: 0px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ nav {
  display: block;
  right: -232px;
}

#burger ~ nav {
  display: none;
}

.basket {
  margin-left: 2px;
}

.ellipse {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 19px;
  height: 19px;
  padding: 1px 1px 1px 1px;
  border-radius: 12px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  background-color: #F16D7F;
}

.ellipse-5:after {
  position: absolute;
  content: "5";
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  right: 6px;
  bottom: 3px;
  z-index: 1;
}

.main-menu {
  position: absolute;
  width: 232px;
  height: 634px;
  background-color: #ffffff;
  top: 54px;
  left: -74px;
  transition: right 0.3s;
  z-index: 3;
}
.main-menu ul {
  list-style: none;
}
.main-menu li {
  list-style: none;
  margin-left: 22px;
  margin-bottom: 11px;
}
.main-menu::after {
  position: absolute;
  content: "MENU";
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  right: 168px;
  top: 32px;
  z-index: 2;
}

.menu-man {
  display: block;
  width: 100px;
  height: 130px;
  margin-left: 32px;
  margin-top: 73px;
  margin-bottom: 20px;
}

.menu-woman {
  display: block;
  width: 126px;
  height: 163px;
  margin-left: 32px;
  margin-bottom: 20px;
}

.menu-kids {
  display: block;
  width: 126px;
  height: 196px;
  margin-left: 20px;
}

.main-menu__title {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
}

.main-menu__subtitle {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header {
    min-width: 768px;
  }
  .menu {
    position: relative;
    width: 169px;
    gap: 25px;
    margin-top: 19px;
    margin-bottom: 18px;
  }
  .menu:hover .main-menu {
    margin-left: -94px;
    z-index: 1;
  }
  .basket {
    margin-left: 2px;
  }
  .ellipse {
    position: absolute;
    right: 12px;
    top: -7px;
    width: 19px;
    height: 19px;
    padding: 1px 1px 1px 1px;
    border-radius: 12px;
    border: none;
    font-size: 12px;
    color: #ffffff;
    background-color: #F16D7F;
  }
  .ellipse-5:after {
    position: absolute;
    content: "5";
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    right: 6px;
    bottom: 3px;
    z-index: 1;
  }
  .main-menu {
    margin-bottom: -710px;
    margin-left: 170px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    min-width: 375px;
  }
  .menu-min {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .basket {
    display: none;
  }
  .account {
    display: none;
  }
  .ellipse {
    display: none;
  }
  .ellipse-5:after {
    display: none;
  }
  .main-menu {
    margin-bottom: -710px;
    margin-left: 170px;
  }
  .menu:hover .main-menu {
    margin-left: -188px;
    z-index: 1;
  }
}
.top {
  min-width: 1140px;
  background-color: #F1E4E6;
  display: grid;
  grid-template-columns: repeat(2, 800px);
  justify-items: center;
  justify-content: center;
  margin-bottom: 65px;
  height: 764px;
}

.right-section {
  right: 331px;
  width: 405px;
  display: flex;
  align-items: center;
  margin-top: 290px;
  margin-bottom: 380px;
  margin-left: -64px;
  margin-right: 100px;
}

.title {
  width: 377px;
  font-size: 48px;
  font-weight: 900;
  color: #222222;
  margin-left: 16px;
  line-height: 1.1;
}

.title-of {
  font-size: 32px;
  font-weight: 700;
  color: #222222;
}

.title-pink {
  font-size: 32px;
  font-weight: 700;
  color: #F16D7F;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .top {
    min-width: 768px;
    height: 368px;
    grid-template-columns: repeat(2, 384px);
  }
  .left-section__img {
    width: 386px;
    height: 368px;
  }
  .right-section {
    width: 315px;
    margin-top: 138px;
    margin-bottom: 138px;
    margin-left: 39px;
  }
  .title {
    width: 288px;
    font-size: 44px;
    line-height: 0.5;
  }
  .title-of {
    font-size: 24px;
  }
  .title-pink {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-width: 375px;
    height: 363px;
    grid-template-columns: repeat(1, 375px);
    justify-content: center;
    margin-bottom: 64px;
  }
  .left-section__img {
    display: none;
  }
  .right-section {
    width: 263px;
    height: 66px;
    margin: 148px 56px 148px 56px;
  }
  .title {
    width: 236px;
    height: 66px;
    font-size: 38px;
  }
  .title-of {
    font-size: 19px;
  }
  .title-pink {
    font-size: 19px;
  }
  .pink-rectangle {
    width: 12px;
    height: 61px;
    margin-top: -18px;
  }
}
.categories {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  margin-bottom: 96px;
}

.categories-items {
  position: relative;
  background-color: #222222;
  width: 360px;
  height: 260px;
}

.categories-items__big {
  position: relative;
  background-color: #222222;
  grid-column: span 3;
  grid-row: span 2;
}

.section-img {
  opacity: 0.3;
}

.categories-title {
  position: absolute;
  width: 154px;
  top: 105px;
  left: 103px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.categories-title__big {
  position: absolute;
  width: 160px;
  top: 65px;
  left: 490px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.section-img__big {
  opacity: 0.3;
}

.categories-title__pink {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.categories-title__pink-big {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 232px);
    gap: 19px;
    margin-bottom: 110px;
  }
  .categories-items {
    width: 232px;
    height: 167px;
  }
  .section-img {
    opacity: 0.3;
  }
  .section-img__img {
    width: 232px;
    height: 168px;
  }
  .categories-title {
    width: 154px;
    top: 50px;
    left: 39px;
  }
  .categories-title__big {
    width: 160px;
    top: 28px;
    left: 287px;
  }
  .section-img__big {
    opacity: 0.3;
  }
  .section-img__img-big {
    width: 735px;
    height: 116px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .categories {
    grid-template-columns: repeat(1, 344px);
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
  }
  .categories-items__big {
    grid-column: span 1;
    grid-row: span 1;
  }
  .categories-items {
    width: 344px;
    height: 248px;
  }
  .section-img {
    width: 344px;
  }
  .section-img__img {
    width: 344px;
    height: 248px;
  }
  .categories-title {
    width: 154px;
    top: 96px;
    left: 95px;
  }
  .categories-title__big {
    width: 160px;
    top: 24px;
    left: 92px;
  }
  .section-img__big {
    width: 344px;
  }
  .section-img__big::before {
    content: "";
    background-image: url("img/accesories-2.svg");
    width: 344px;
    height: 111px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .section-img__img-big {
    display: none;
  }
}
.product-items {
  background-color: #F8F8F8;
}

.shop-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-content-title {
  margin-bottom: 6px;
  font-size: 30px;
  color: #222222;
  font-weight: 400;
}

.shop-content-text {
  margin-bottom: 48px;
  font-size: 14px;
  color: #9F9F9F;
  font-weight: 400;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  margin-bottom: 48px;
}

.product-items-content {
  padding: 24px 16px;
}

.products-title {
  margin-bottom: 16px;
  font-size: 13px;
  color: #222222;
  font-weight: 400;
}

.products-title:visited {
  color: #F16D7F;
}

.products-text {
  width: 315px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #5D5D5D;
  font-weight: 300;
}

.price {
  font-size: 16px;
  color: #F16D7F;
  font-weight: 400;
}

.hover:hover {
  position: relative;
  background-color: rgba(58, 56, 56, 0.8588235294);
  z-index: 1;
  transition: 0.3s;
}
.hover:hover::after {
  position: absolute;
  content: "Add to Cart";
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  right: 110px;
  bottom: 188px;
  border: 1px solid #ffffff;
  padding: 14px 20px 14px 54px;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
}

.hover-2:hover::before {
  position: absolute;
  content: url(img/basket.svg);
  width: 26px;
  right: 220px;
  bottom: 195px;
  z-index: 1;
}

.product-pink-img {
  padding: 9px 110px 11px 108px;
}
.product-pink-img:hover {
  padding: 0px 110px 0px 108px;
  height: 418px;
  opacity: 0.3;
}

.product-items-img-pink {
  background-color: #F7E4E2;
  transition: 0.3s;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-button {
  width: 212px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
  cursor: pointer;
  transition: 0.3s;
}
.product-button:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #ffffff;
  transition: 0.3s;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .shop-content-title {
    margin-bottom: 4px;
    line-height: 36px;
  }
  .shop-content-text {
    margin-bottom: 72px;
    line-height: 17px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    margin-bottom: 33px;
  }
  .product-items-content {
    padding: 25px 28px 20px 16px;
  }
  .products-title {
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 16px;
  }
  .products-text {
    margin-bottom: 18px;
    line-height: 17px;
  }
  .price {
    line-height: 19px;
  }
  .hover {
    position: relative;
    background-color: rgba(58, 56, 56, 0.8588235294);
    z-index: 0;
  }
  .hover:after {
    position: absolute;
    content: "Add to Cart";
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    right: 110px;
    bottom: 188px;
    border: 1px solid #ffffff;
    padding: 14px 20px 14px 54px;
    z-index: 1;
  }
  .hover-2:before {
    position: absolute;
    content: url(img/basket.svg);
    width: 26px;
    right: 220px;
    bottom: 195px;
    z-index: 1;
  }
  .product-pink-img {
    padding: 0px 110px 0px 108px;
    height: 420px;
    opacity: 0.3;
  }
  .product-button {
    line-height: 19px;
    margin-bottom: 72px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .shop-content-text {
    margin-bottom: 64px;
  }
  .products {
    grid-template-columns: repeat(1, 360px);
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }
  .product-button {
    margin-bottom: 85px;
  }
}
.advantages {
  min-width: 1140px;
  background-color: #222222;
  display: flex;
  align-items: center;
  gap: 30px;
}

.advantages__icons {
  height: 32px;
}

.advantages__items {
  margin-top: 104px;
  margin-bottom: 104px;
  width: 360px;
  min-height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages__title {
  color: #ffffff;
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
}

.advantages__text {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .advantages {
    min-width: 768px;
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .advantages__items {
    margin: 0;
  }
  .advantages__icons {
    height: 39px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .advantages {
    min-width: 375px;
    gap: 46px;
    padding-bottom: 81px;
  }
  .advantages__items {
    width: 348px;
    height: 128px;
    margin: 0;
  }
}
.feedback-bg {
  position: relative;
  background-image: url("img/footer-bg.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1140px;
  height: 448px;
}
.feedback-bg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F4F4F4;
  opacity: 0.7;
}

.feedback {
  min-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews {
  display: flex;
  align-items: center;
}

.reviews-img::after {
  top: 97px;
  position: absolute;
  content: url(img/eclips-img-women.png);
  margin-left: 120px;
  width: 96px;
  z-index: 1;
}

.reviews-text {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #222222;
  z-index: 2;
  margin-top: 65px;
}

.subscribe {
  top: -30px;
  position: relative;
  width: 557px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 25px;
}

.subscribe-content {
  width: 557px;
  height: 61px;
}

.subscribe-title {
  font-size: 24px;
  text-align: center;
  color: #222222;
  font-weight: 700;
  z-index: 2;
}

.subscribe-title_min {
  font-size: 18px;
  font-weight: 400;
}

.subscribe-form {
  width: 356px;
  height: 49px;
}

.subscribe__btn {
  position: absolute;
  width: 356px;
  height: 49px;
  background-color: #E1E1E1;
  border: 1px solid #E1E1E1;
  border-radius: 24px;
  font-size: 16px;
}
.subscribe__btn::-moz-placeholder {
  color: #222222;
  font-size: 14px;
}
.subscribe__btn::placeholder {
  color: #222222;
  font-size: 14px;
}

input[type=email] {
  position: absolute;
  left: -100px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0px 22px 0px 22px;
}

.form-email {
  position: absolute;
  top: 120px;
  right: 410px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.btn-email {
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.btn-email:hover {
  border: 1px solid #ffffff;
}

.subscribe__btn-pink {
  position: absolute;
  left: 266px;
  background-color: #F16D7F;
  border-radius: 0px 24px 24px 0px;
  width: 100px;
  height: 49px;
  z-index: 1;
}

.subscribe__btn_text-pink {
  position: absolute;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  top: 16px;
  left: 17px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .feedback-bg {
    position: relative;
    background-image: url("img/footer-bg.jpg");
    background-position: 25%;
    background-size: cover;
    min-width: 768px;
    height: 614px;
  }
  .feedback {
    min-width: 768px;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
  }
  .reviews {
    width: 360px;
    margin-top: 64px;
  }
  .reviews-text {
    width: 360px;
    height: 99px;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .feedback-bg {
    background-position: 27%;
    min-width: 610px;
    height: 550px;
  }
  .feedback {
    min-width: 375px;
  }
  .reviews {
    width: 343px;
    height: 154px;
  }
  .reviews-img::after {
    top: 64px;
    width: 92px;
  }
  .reviews-text {
    width: 343px;
    height: 73px;
    font-size: 18px;
    margin: 0;
  }
  .subscribe {
    width: 341px;
    height: 124px;
    gap: 22px;
  }
  .subscribe-content {
    width: 271px;
    height: 54px;
  }
  .subscribe-title_min {
    font-size: 14px;
  }
  .subscribe__btn {
    width: 222px;
    height: 47px;
  }
  input[type=email] {
    left: -8px;
  }
  .form-email {
    top: 120px;
    right: 340px;
  }
  .subscribe__btn-pink {
    left: 236px;
  }
}
.footer {
  min-width: 1140px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 30px;
}
.copyright__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.footer-icons {
  width: 147px;
  height: 32px;
  display: flex;
  gap: 7px;
}
.footer-icons .rectangle-icons {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.footer-icons .rectangle-icons:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  transition: 0.5s;
}
.footer-icons .footer-icons__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icons .footer-icons__img:hover path {
  fill: #ffffff;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .footer {
    min-width: 768px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer {
    min-width: 375px;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .copyright {
    margin-top: 40px;
    margin-bottom: 9px;
  }
  .footer-icons {
    margin-top: 43px;
  }
}
.breadcrumbs {
  min-width: 1140px;
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: #F16D7F;
}

.right-section-breadcrumbs__ul {
  display: flex;
}
.right-section-breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  color: #636363;
}
.right-section-breadcrumbs__links {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  color: #636363;
  text-align: left;
}
.right-section-breadcrumbs__li:last-child .right-section-breadcrumbs__links {
  color: #F16D7F;
  font-weight: 700;
}

html,
body {
  position: relative;
  height: 100%;
}

.mySwiper {
  min-width: 1140px;
  height: 777px;
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
}

.swiper-slide img {
  display: block;
  width: 597px;
  height: 724px;
  margin-top: 11px;
  margin-bottom: 42px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #F16D7F;
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
  color: #222222;
}

.swiper-button-next__position {
  width: 47px;
  height: 47px;
  border: 1px solid #EAEAEA;
  background-color: rgba(42, 42, 42, 0.15);
  margin-right: -10px;
}

.swiper-button-prev__position {
  width: 47px;
  height: 47px;
  border: 1px solid #EAEAEA;
  background-color: rgba(42, 42, 42, 0.15);
  margin-left: -10px;
}

.sorting-blok {
  position: relative;
  height: 132px;
  display: flex;
  gap: 30px;
  padding-top: 39px;
  box-sizing: border-box;
  z-index: 5;
}

.filter {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 13px;
  width: 360px;
  cursor: pointer;
}
.filter__content {
  padding-top: 13px;
  background-color: #ffffff;
  padding: 0px 16px 16px 16px;
  box-shadow: 6px 35px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
}
.filter[open] .filter__title {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
  width: 70px;
}
.filter__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: #222222;
}
.filter__item {
  margin-top: 16px;
}
.filter [open] .filter__heading {
  color: #F16D7F;
}
.filter__heading {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #F16D7F;
}
.filter__heading:hover::after {
  position: absolute;
  content: "";
  border: 1px solid #F16D7F;
  width: 243px;
  top: 35.5px;
  right: 82px;
}
.filter__links-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 20px 16px;
}
.filter__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: #6f6e6e;
}
.filter__link:hover {
  color: #F16D7F;
}

.sorting {
  display: flex;
  gap: 28px;
  padding-top: 12px;
  cursor: pointer;
}
.sorting .sorting-details {
  position: relative;
}
.sorting .summary-sorting {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sorting .summary-sorting-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: #6f6e6e;
}
.sorting .sorting-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  padding: 7px 30px 11px 9px;
  left: -9px;
  top: 22px;
}
.sorting .sorting-check {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  color: #6f6e6e;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 98px;
}
.pagination .pagination-link-box {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid rgb(235, 235, 235);
  padding: 12px 16px;
}
.pagination .pagination-link {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: #c4c4c4;
}
.pagination .pagination-link-pink {
  color: #F16D7F;
}

.product-card-box {
  position: relative;
  height: 600px;
  width: 1140px;
  top: -64px;
  border: 1px solid rgb(234, 234, 234);
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.product-categories-title {
  margin-top: 64px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: #F16D7F;
  margin-bottom: 12px;
}

.product-line-pink {
  border: 1px solid #EF5B70;
  background-color: #EF5B70;
  width: 62px;
  height: 1px;
  margin-bottom: 12px;
}

.product-title {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}

.product-description {
  width: 556px;
  height: 52px;
  margin-bottom: 32px;
}

.product-text-card {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}

.product-price-card {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: #F16D7F;
  margin-bottom: 64px;
}

.product-second-line-card {
  border: 1px solid #EAEAEA;
  width: 642px;
  height: 0;
  margin-bottom: 64px;
}

.sorting-card {
  position: relative;
  display: flex;
  gap: 22px;
  align-items: center;
  cursor: pointer;
}
.sorting-card .sorting-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}
.sorting-card .summary-sorting-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sorting-card .sorting-box-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  padding: 7px 30px 11px 9px;
  left: 142px;
  top: 22px;
}
.sorting-card .sorting-check-card {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  color: #6f6e6e;
}

.button-cards {
  display: flex;
  align-items: center;
  gap: 22px;
  border: 1px solid #F16D7F;
  background-color: #ffffff;
  margin-bottom: 65px;
  cursor: pointer;
  transition: 0.5s;
}
.button-cards:hover {
  background-color: #EAEAEA;
  border: 1px solid #EAEAEA;
}
.button-cards .button-card-img {
  padding: 16px 0px 8px 24px;
}
.button-cards .button-card-text {
  width: 82px;
  height: 20px;
  padding: 15px 58px 15px 0px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 128px;
}

.wrapper-left {
  margin-top: 96px;
  margin-bottom: 128px;
  width: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.wrapper-left .card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.wrapper-left .product-card {
  width: 652px;
  height: 306px;
  display: flex;
  border: 1px solid #EAEAEA;
  box-shadow: 8px 8px 15px 0px rgba(29, 29, 29, 0.2);
}
.wrapper-left .product-card:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.wrapper-left .product-card .img-card {
  width: 262px;
  height: 306px;
}
.wrapper-left .product-card .img-card-1 {
  background-color: #f3eeef;
}
.wrapper-left .product-card .img-card-2 {
  background-color: #f3eeef;
}
.wrapper-left .product-card .content-card {
  position: relative;
  width: 390px;
  height: 306px;
}
.wrapper-left .product-card .content-card::after {
  position: absolute;
  content: url(img/delete-x.svg);
  top: 28px;
  right: 22px;
  cursor: pointer;
}
.wrapper-left .product-card .content-blok {
  width: 262px;
  height: 222px;
  margin: 22px 96px 62px 32px;
}
.wrapper-left .product-card .content-blok .content-card-title {
  width: 262px;
  height: 58px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: #222222;
}
.wrapper-left .product-card .content-blok .specifications-card {
  width: 166px;
  height: 122px;
  margin: 42px 96px 0 0;
}
.wrapper-left .product-card .content-blok .specifications-text {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  color: #575757;
}
.wrapper-left .product-card .content-blok .specifications-sub-prise {
  color: #F16D7F;
}
.wrapper-left .product-card .content-blok .specifications-sub-color, .wrapper-left .product-card .content-blok .specifications-sub-size {
  color: #6e6e6e;
}
.wrapper-left .product-card .content-blok .quantity-product {
  display: flex;
  gap: 24px;
  align-items: center;
}
.wrapper-left .product-card .content-blok .specifications-input {
  width: 44px;
  height: 24px;
}
.wrapper-left .product-card .content-blok .specifications-input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 0px 16px 0px 0px;
  color: #6e6e6e;
}
.wrapper-left .product-card .content-blok .specifications-input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 0px 16px 0px 0px;
  color: #6e6e6e;
}
.wrapper-left .product-card .content-blok input[type=number] {
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgb(234, 234, 234);
  color: #6e6e6e;
  cursor: pointer;
}
.wrapper-left .product-card .content-blok input[type=number]:focus {
  border: 1px solid #222222;
}
.wrapper-left .button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  gap: 192px;
}
.wrapper-left .button-box .buttons-left-wrapper {
  width: 235px;
  height: 55px;
  border: 1px solid #a4a4a4;
  background-color: #ffffff;
  color: #222222;
  cursor: pointer;
  transition: 0.5s;
}
.wrapper-left .button-box .buttons-left-wrapper:hover {
  background-color: #F16D7F;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.wrapper-right {
  padding-top: 113px;
  margin-bottom: 342px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}
.wrapper-right .adress-box {
  width: 360px;
  height: 272px;
}
.wrapper-right .adress-box .adress-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: #222222;
}
.wrapper-right .adress-box .adress-input {
  width: 324px;
  height: 45px;
  margin-top: 20px;
  cursor: pointer;
}
.wrapper-right .adress-box .adress-input::-moz-placeholder {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  color: #b1b1b1;
}
.wrapper-right .adress-box .adress-input::placeholder {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  color: #b1b1b1;
}
.wrapper-right .adress-box .adress-input:focus::-moz-placeholder {
  color: #222222;
}
.wrapper-right .adress-box .adress-input:focus::placeholder {
  color: #222222;
}
.wrapper-right .adress-box input[type=text] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid #a4a4a4;
  padding: 0px 18px 0px 18px;
}
.wrapper-right .adress-box input:focus, .wrapper-right .adress-box textarea:focus {
  border: 1px solid #222222;
}
.wrapper-right .adress-box .adress-buttons {
  margin-top: 23px;
  padding: 12px 14px;
  border: 1px solid #a4a4a4;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  transition: 0.5s;
}
.wrapper-right .adress-box .adress-buttons:hover {
  background-color: #F16D7F;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.wrapper-right .price-box {
  width: 360px;
  height: 214px;
  background-color: #f3f3f3;
}
.wrapper-right .price-box .price-text-blok-1 {
  width: 108px;
  margin-top: 39px;
  margin-left: 218px;
  margin-right: 34px;
}
.wrapper-right .price-box .price-text-sub {
  width: 218px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
  color: #a4a4a4;
}
.wrapper-right .price-box .price-text-blok-2 {
  width: 170px;
  margin-top: 12px;
  margin-left: 153px;
  margin-right: 37px;
}
.wrapper-right .price-box .price-text-grand {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: #222222;
}
.wrapper-right .price-box .price-text-grand-pink {
  color: #F16D7F;
}
.wrapper-right .price-box .price-line {
  margin-top: 21px;
  margin-left: 42px;
  width: 275px;
  height: 0;
  border: 1px solid #e2e2e2;
}
.wrapper-right .price-box .buttons-right-wrapper {
  margin-top: 17px;
  margin-left: 42px;
  margin-right: 42px;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
.wrapper-right .price-box .buttons-right-wrapper:hover {
  border: 1px solid #a4a4a4;
  background-color: #f3f3f3;
  color: #b1b1b1;
}/*# sourceMappingURL=style.css.map */